<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Service</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th>Cover Image</th>
        <th>Title</th>
        <th>Won an Oscar</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}"></tr>
    </tbody>
</table>

</body>
</html>